body{
    background-color: #393E46;
}

h1{
    color: #4ECCA3;
    font-size: 7rem;
    margin: 30px;
}

p{
    color: #4ECCA3;
    font-size: 3rem;
}

img{
    width: 80%;
}

footer{
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.container{
    font-family: 'Indie Flower';
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice{
    text-align: center;
    display: inline-block;
}
